<nav>
    <ul>
        <li><a href="">Accueil</a></li>
        <li><a href="">A propos</a></li>
        <li><a href="">Contact</a></li>
        <li>Statut : <span *ngIf="isConnected">Connecté</span> <span *ngIf="!isConnected">Déconnecté</span></li>
    </ul>
</nav>